/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* end of CSS Reset */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: hsl(228, 12%, 48%);
  background-color: hsl(30, 38%, 92%);
  display: grid;
  padding: 1rem;
  place-content: center;
  position: relative;
}

.img-desktop {
  display: none;
}

.prod-card {
  max-width: 600px;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
}

.prod-content {
  padding: 1.5rem;
  display: grid;
  gap: 1.5rem;
}

.prod-category {
  text-transform: uppercase;
  letter-spacing: 0.75ch;
  font-size: 0.8125rem;
}

.prod-name {
  color: hsl(212, 21%, 14%);
}

h1,
.current-price {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 1;
}

.current-price {
  color: hsl(158, 36%, 37%);
}

.flex-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.button {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 1em;
  border-radius: 0.5rem;
  background-color: hsl(158, 36%, 37%);
  font-weight: 700;
  color: white;
}

.button:hover,
.button:focus {
  background-color: hsl(158, 36%, 27%);
}

@media screen and (min-width: 600px) {
  .prod-card {
    grid-template-columns: 1fr 1fr;
  }

  .prod-content {
    padding: 1.5rem 2rem;
  }

  .img-desktop {
    display: block;
  }

  .img-mobile {
    display: none;
  }
  footer {
    font-size: 0.8rem;
    bottom: 1.5rem;
  }
}

footer {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  text-align: center;
  font-size: 0.7rem;
}
footer a {
  color: hsl(212, 45%, 36%);
}
